# Virtual environments
venv/
.env

# Ignore output artifacts
output/*
!output/.gitkeep

# Ignore articles:
articles/*
!articles/.gitkeep

# Ignore protege file
ontologies/*.xml

# Python cache
__pycache__/
*.pyc
